<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %}
        {{ page.title }} · {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>

    <header class="site-header">
      <div class="nav-inner">

        <a href="{{ '/' | relative_url }}" class="nav-left">
          LILY HINTZ
        </a>

        <a href="{{ '/about/' | relative_url }}" class="nav-right">
          ABOUT
        </a>

      </div>
    </header>

    <main class="container">
      {{ content }}
    </main>

  </body>
</html>